html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1{
  text-align: center;
}
.addTask{
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.addTask>div{
  margin: auto 20px;
}
.complete{
  text-decoration: line-through;
}
